table,
  td,
  tr {
    border: 1px solid black;
  }

  td {
    width: 100px;
  }

  .row1 {
    background-color: #028f8f;
  }

  .row2 {
    background-color: #f5f502;
  }

  .row1:hover {
    background-color: #8F02ED;
  }

  .row2:hover {
    background-color: #5654FF;
  }

  .background {
    background-color: rgb(161, 26, 26);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backBlock {
    background-color: white;
    width: 50px;
    height: 20px;
    position: absolute;
    border-radius: 3px;
  }

  .frontBlock {
    background-color: white;
    width: 20px;
    height: 50px;
    position: absolute;
    border-radius: 3px;
  }
  .task2 {
    display: flex;
    flex-direction: row;
  }

  .background2 {
    margin-left: 10px;
    background-color: rgb(161, 26, 26);
    width: 100px;
    height: 100px;
  }
  .backBlock2 {
    width: 50px;
    height: 20px;
    background-color: white;
    transform: translate(25px, 40px);
    border-radius: 3px;
    position: absolute;
  }
  .frontBlock2 {
    width: 20px;
    height: 50px;
    background-color: white;
    transform: translate(40px, 25px);
    border-radius: 3px;
    position: absolute;
  }